.quiz-questions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
     list-style-type:none;
     margin:25px 0 0 0;
     padding:0;
}

.quiz-questions li {
    
    height:80px;
    position:relative;
}

.quiz-questions label, .quiz-questions input {
    display:block;
    position:absolute;
    height: 100%;
    width: 100%;
}

.quiz-questions input[type="radio"] {
    opacity:0.01;
    z-index:100;
}


.quiz-questions label {
     padding:5px;
     border:1px solid #CCC; 
     cursor:pointer;
    z-index:90;
}

.quiz-questions label:hover {
     background:#DDD;
}

.blue {
    background-color: aliceblue;
}

.wrong {
    background-color: lightcoral;
}

.correct {
    background-color: aquamarine;
}

.disabled {
    pointer-events: none;
}

ul {
    margin: 0 auto;
    text-align: center;
}

li {
    display: inline-block;
    vertical-align: top;
}

.answers {
    max-width: 800px;
    margin: 0 auto;
}